<div class="row" >
    <div class="col-md-12" >
        <div class="row"  [hidden]="taskList.length==0" >
            <div class="col-md-12" >
                <table  class="table table-bordered table-striped"  >
                    <thead>
                        <tr>
                            <th class="text-center" >
                                Sl No.
                            </th>
                            <th class="text-center" >
                                Task Name
                            </th>
                            <th class="text-center" >
                                Task Status
                            </th>
                            <th class="text-center" >
                               Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let task of taskList let i=index "  >
                            <td >{{i+1}}</td>
                            <td  class="text-center" (dblclick)="task.toggleHide()" >
                                <div  [hidden]="!task.hide"   >{{task.taskName}}</div>
                                <div  [hidden]="task.hide"  >
                                    <input type="text"  [(ngModel)]="task.taskName"  class="form-control"  (blur)="task.toggleHide()"  />
                                </div>
                            </td>
                            <td  class="text-center" >{{task.taskStatus}}</td>
                            <td  class="text-center" >
                               <input type="button" *ngIf="task.taskStatus=='Pending'" value="Complete"  class="btn btn-success" (click)="completeTask(task)"  />
                               <input type="button" *ngIf="task.taskStatus=='Completed'" value="Delete"  class="btn btn-danger" (click)="deleteTask(task)"  />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>                    
        </div>
        <div class="row" >
            <div class="col-md-4" >
                <input type="text"  class="form-control"  [(ngModel)]="newTask.taskName" />
            </div>
            <div class="col-md-3" >
                   <input type="button"  [disabled]="newTask.taskName==''"  value="Add task"  class="btn btn-primary"  (click)="addTask()"   /> 
            </div>  
        </div>
    </div>
</div>